h1{
    color:rgb(48, 48, 194)
}


.header{
    background-color:springgreen;
    display:flex;
    justify-content:space-between
   
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly
}



p,h2{
    text-align: center;
    font-size:ARIAL;
}
body{
    background-color:#00FCFA;
}
